<div class="container__big-card">
  <div class="big-card__photo">
    <img src="https://miro.medium.com/v2/resize:fit:1400/1*W20hQZTfgUDK0pYCc50qxw.png"
    alt=""
    height="200px"
    >
  </div>
  <div class="big-card__title">
    <h1><a href="#">Nova versão do Angular chama atenção pela simplicidade!</a></h1>
  </div>
  <div class="big-card__description">
    <p>
      <a href="#">
        A equipe de desenvolvedores da Google, que já trabalhou em projetos como o Chrome e o Android, anunciou nesta semana uma estrutura inicial mais enchuta, se aproximando mais do React sem abrir mão da organização e versatilidade do novo Angular tem aquecido corações.
      </a>
    </p>
  </div>

</div>
