<div class="container__little-card">

  <div class="container__little-card-content">
    <div class="little-card__photo">
      <img src="https://as1.ftcdn.net/v2/jpg/04/47/17/68/1000_F_447176828_7Leejwia38M4u7OA3EdTGjwWapEwTHx0.jpg"
      alt="Várias linguagens de programação"
      srcset=""
      >
    </div>

    <div class="little-card__title">
      <h1><a href="#">Nova versão do Angular chama atenção pela simplicidade!</a></h1>
    </div>
  </div>

  <div class="container__little-card-searator">
    <hr/>
  </div>

</div>


